<!DOCTYPE html>
<html>
<head>
  <title>PomoTodo</title>
  <%= stylesheet_link_tag    'application', media: 'screen and (min-device-width: 800px)', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '800', media: 'screen and (max-device-width: 799px)', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
